html {
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}

body {
    overflow-x: hidden;
}

.hero-bg-image {
    background-image: url('../assets/compres/bg-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.hero-bg-image-compe {
    background-image: url('../assets/compres/kat-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.jkt-logo-rounded {
    border-radius:0px 0px 15px 0;
}
/* Logo */
.home-logo{
    width: fit-content;
    height: fit-content;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}

.home-logo .outer-home-logo{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.outer-home-logo .inner-home-logo{
    width: fit-content;
    height: fit-content;
    display: flex;
}

.home-logo img{
    width: 30px;
    height: 30px;
}

.area-home-logo{
    width: fit-content;
    height: fit-content;
    padding: 5px 20px 10px 0px;
    background-color: #FFFBF5;
    border-bottom-right-radius: 20px;
}

.area-home-logo .img-home-logo{
    width: 120px;
    height: fit-content;
}

.outer-home-logo .rounded-img-home{
    transform: rotate(180deg);
}


@keyframes underline-grow {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.nav-link {
    position: relative;
    padding-bottom: 2px;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #FF7732;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

#mobile-menu {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

#mobile-menu.open {
    max-height: 100vh;
    opacity: 1;
}

.icon-ey {
    transform: translateY(-2rem);
    
}